<!DOCTYPE html>
<html>
	<head>
  		<meta charset="utf-8">
  		<title>Redirectron</title>
	</head>
	<body>
		<p>Redirectron will give you a dynamic page that you can bookmark and add to your iPhone's home screen so that you can quickly launch Pythonista scripts. So enter your script's name in the box and hit "Get Redirect" (case sensitive).</p>
		<form method="post" action="/">
    		<input name="pyscriptname" type="text" id="redirect-pyscript">
    		<input type="submit" value="Get Redirect">
 		</form>
	</body>
</html>