
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A page to redirect your phython script for easy bookmarking">

	<title>Mr.Redirect</title>

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<!--[if lte IE 8]>
	    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
	<!--<![endif]-->
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
				
		<h1 class="is-center big">Mr.Redirect</h1>

		<div class="pure-g">
			<div class="pure-u-1 l-box">
				<form class="pure-form pure-form-stacked mbm is-center" method="post" action="/">
				    <fieldset >
				        <h3>Type the name of your script here</h3>
						<textarea name="pyscriptname" class="center" rows="10" cols="55" placeholder="Type the name of your script here"></textarea>
					</fieldset>
					<button class="button-xlarge pure-button pure-button-primary pure-input-1-4" type="submit">Submit</button>
				</form>
				<!-- Super Fancy Button for funzies -->
				<!-- progress button -->
				<div class="progress-button elastic">
					<button><span>Submit</span></button>

					<svg class="progress-circle" width="70" height="70">
						<path d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"/>
					</svg>

					<svg class="checkmark" width="70" height="70">
						<path d="m31.5,46.5l15.3,-23.2"/>
						<path d="m31.5,46.5l-8.5,-7.1"/>
					</svg>

					<svg class="cross" width="70" height="70">
						<path d="m35,35l-9.3,-9.3"/>
						<path d="m35,35l9.3,9.3"/>
						<path d="m35,35l-9.3,9.3"/>
						<path d="m35,35l9.3,-9.3"/>
					</svg>
				</div><!-- /progress-button -->

				<!-- progress button -->
				<div class="progress-button elastic">
					<button><span>Submit</span></button>

					<svg class="progress-circle" width="70" height="70">
						<path d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"/>
					</svg>

					<svg class="checkmark" width="70" height="70">
						<path d="m31.5,46.5l15.3,-23.2"/>
						<path d="m31.5,46.5l-8.5,-7.1"/>
					</svg>

					<svg class="cross" width="70" height="70">
						<path d="m35,35l-9.3,-9.3"/>
						<path d="m35,35l9.3,9.3"/>
						<path d="m35,35l-9.3,9.3"/>
						<path d="m35,35l9.3,-9.3"/>
					</svg>
				</div><!-- /progress-button -->


			</div>
		</div>
	</div><!-- /container -->

	<script src="js/classie.js"></script>
	<script src="js/uiProgressButton.js"></script>
	<script>
		[].slice.call( document.querySelectorAll( '.progress-button' ) ).forEach( function( bttn, pos ) {
			new UIProgressButton( bttn, {
				callback : function( instance ) {
					var progress = 0,
						interval = setInterval( function() {
							progress = Math.min( progress + Math.random() * 0.1, 1 );
							instance.setProgress( progress );

							if( progress === 1 ) {
								instance.stop( pos === 1 || pos === 3 ? -1 : 1 );
								clearInterval( interval );
							}
						}, 150 );
				}
			} );
		} );
	</script>

</body>
</html>