<!DOCTYPE html>
<html>
	<head>
  		<meta charset="utf-8">
  		<title>Redirectron: <%= script %> in Pythonista</title>
	</head>
	<body>
		<p>This page will redirect you to Pythonista to run your <%= script %> script. Remember to add it to you Home Screen so you can do this quicker in the future.</p>

		<iframe src="<%= "pythonista://" + script + "?action=run" %>"></iframe>
		
	</body>
</html>