@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    background: #f9f9f9;
	color: #62706c;
    font-size: 13px;
}


h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.big {
	font-size: 45px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */

.content {
max-width: 980px;
margin: 0 auto;
}

.l-box {
    padding: 1em;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

textarea.center{
	display: block;
	margin-right: auto;
    margin-left: auto;
}

.is-center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.icons {
	font-size: 3em;
	display: inline-block;
}

.personal2 a {
	color: #000;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	text-decoration: none;
}

.personal2 a:hover{
  color: #34495e;
}


/*
 * -- MARGIN STYLES -- 
 */ 

.mbs {
  margin-bottom: 10px;
}

.mbm {
  margin-bottom: 30px;
}

.mbl {
  margin-bottom: 50px;
}

.mbxl {
  margin-bottom: 80px;
}

.mts {
  margin-top: 10px;
}

.mtm {
  margin-top: 30px;
}

.mtl {
  margin-top: 50px;
}

.mtxl {
  margin-top: 80px;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 0.5em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

